<div class="page-background">
    <mat-toolbar color="primary">
        <img class="logo-width" src='/assets/images/logo.png'/>
    </mat-toolbar>
    <div>
        <h1 class="shots-title">
            Popular shots on dribbble
        </h1>
    </div>
    <div class="responsive-cards">
        <mat-card class="dribbble-card" *ngFor="let shot of shots">
            <mat-card-header>
                <div>
                    <img class="avatar" src="{{ shot.user.avatar_url }}"/>
                </div>
                <mat-card-title class="header-align">{{ shot.user.name }}</mat-card-title>
                <mat-card-subtitle class="header-align">{{ shot.title }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="card-content">
                <img mat-card-image class="cursor" src="{{ shot.images.normal }}" (click)="openShot(shot)"/>
            </mat-card-content>

            <mat-card-actions class="padding-0">
                <div class="middle">
                    <mat-icon class="red">favorite</mat-icon>
                    <span class="padding-right-15">{{ shot.likes_count }}</span>
                    <mat-icon class="blue">remove_red_eye</mat-icon>
                    <span class="padding-right-15">{{ shot.views_count }}</span>
                    <mat-icon class="grey">comment</mat-icon>
                    <span class="padding-right-15">{{ shot.comments_count }}</span>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="footer middle">
        <span>Made with</span>
        <mat-icon class="red">favorite</mat-icon>
        <span>by Bruno Alves</span>
    </div>

</div>
